<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <style type="text/css">
        html, body {
            height: 100%;
        }

        #wrapper {
            min-height: 100%;
        }
    </style>
</head>
<body onload="setup()">
<div id="wrapper" style="background-image: url({{ url_for('static', filename='imgs/background.jpg') }}); background-repeat:no-repeat;
            background-size:cover; width: 100%; height: 100%;">
    <div id="popup" style="position: fixed; z-index: 1; min-width: 100vw; opacity: 70%;"
         class="w3-panel w3-pale-green w3-center w3-hide">
        <p>Some alert</p>
    </div>
    <div id="container" style="display: inline-block;">
        <div class="w3-container w3-margin-bottom w3-margin-top" style="background-color: floralwhite" id="videoWrap">
            <video id="videoElement" style="width: 18vw; height: 20vh;" autoplay="autoplay" ></video>
<!--            autoplay="true" id="videoElement" class= "w3-center w3-margin-top"
                   style="width: 18vw; height: auto;"-->
<!--            <canvas class="w3-center w3-margin-top" id="canvas"></canvas>-->
        </div>
        <div class="w3-margin-left">
            <div class="w3-container w3-teal">
                <h3>Agent Feedback</h3>
            </div>
            <div class="w3-container w3-white" style="opacity: 70%; height: 64vh; overflow-y: auto"
                 id="feedback-content">
            </div>
        </div>

    </div>
    <div class="w3-margin w3-center" style="width: 70vw; height: 90vh; background-color: whitesmoke; opacity: 70%;
        position: fixed; top: 50%; left: 50%; transform: translate(-40%, -50%); display: inline-block">
        <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -60%);" id="display-content"></div>
        <div class="w3-bar w3-block w3-display-bottommiddle" style="width: 100%;">
            <button class="w3-block w3-button w3-bar-item w3-teal w3-border" id="next" style="width: 100%"
                    onclick="movePage(1)">Next >
            </button>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/setup.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/advancePage.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/videoUp.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/question.js') }}"></script>
<script>
    var video = document.getElementById("videoElement");
    var canvas = document.createElement('canvas');
    var context = canvas.getContext('2d');
    var w, h;

    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({video: true})
            .then(function (stream) {
                video.srcObject = stream;
                canvas.width = window.visualViewport.width * 0.18;
                canvas.height = window.visualViewport.height * 0.2;
            })
            .catch(function (err0r) {
                console.log("Something went wrong!");
            });
    }
</script>
</body>
</html>